{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    {{ post.content|md2html }}

    <div id="post-add-comment" class="well">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('App\\Controller\\BlogController::commentForm', { 'id': post.id })) }}
        {% else %}
            <p>
                <a class="btn btn-success" href="{{ path('security_login') }}">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                </a>
                {{ 'post.to_publish_a_comment'|trans }}
            </p>
        {% endif %}
    </div>

    <h3>{{ 'post.num_comments'|transchoice(post.comments|length) }}</h3>

    {% for comment in post.comments %}
        <div class="row post-comment">
            <h4 class="col-sm-3">
                <strong>{{ comment.authorEmail }}</strong> {{ 'post.commented_on'|trans }}
                <strong>{{ comment.publishedAt|date }}</strong>
            </h4>
            <div class="col-sm-9">
                {{ comment.content }}
            </div>
        </div>
    {% else %}
        <div class="post-comment">
            <p>{{ 'post.no_comments'|trans }}</p>
        </div>
    {% endfor %}
{% endblock %}
